@charset "UTF-8";

main#joinMain > p:first-child {
  padding: 50px 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#joinMain h3 {
  color: #000;
  width: 800px;
  margin: 0 auto;
  text-align: left;
}

#joinMain div.infoContainer {
  width: 800px;
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 80px;
}

#joinMain div.infoContainer div.infoBox {
  border-bottom: 1px solid #ccc;
  display: flex;
}

.infoBox div.col1 {
  width: 200px;
  padding: 15px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.infoBox div.col2 {
  width: 100%;
  padding: 15px;
  font-size: 14px;
}

.infoBox div.col2 input[type="text"] {
  height: 35px;
  padding-left: 10px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
}

.infoBox div.col2 input[type="radio"] {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.infoBox div.col2 label {
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.infoBox div.col2 p {
  color: #777;
  font-size: 13px;
}

.infoBox div.col2 span.noti {
  color: #777;
  margin-left: 10px;
  font-size: 13px;
}

.infoBox div.col2 button#verifyUserBtn {
  display: block;
  padding: 2px 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fff;
  font-size: 12px;
  cursor: pointer;
}

#verifyUserBtn i {
  font-size: 11px;
  margin-right: 5px;
}

.infoBox div.col2 button#verifyPhoneBtn {
  width: 80px;
  display: block;
  padding: 2px 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
  background-color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.infoBox div.col2 button#searchAddressBtn {
  display: inline-block;
  height: 35px;
  padding: 2px 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fff;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  top: -0.5px;
}

.infoBox div.col2 input#address1 {
  width: 130px;
}

.infoBox div.col2 input#address2,
.infoBox div.col2 input#address3 {
  width: 300px;
}

.infoBox div.col2 input.phone {
  width: 80px;
}

.infoBox div.col2 select.phone {
  width: 80px;
  height: 35px;
  outline: none;
  border: 1px solid #ccc;
}

.infoBox div.col2 select#emailAddress {
  height: 35px;
  padding: 0 10px;
  outline: none;
  border: 1px solid #ccc;
  cursor: pointer;
}

.infoBox div.col2 input.birth {
  width: 80px;
  margin-right: 5px;
}

.infoBox div.col2 input.birth:not(:first-child) {
  margin-left: 10px;
}

.infoBox div.col2 input#yan {
  margin-left: 10px;
}

/* 기본정보의 div.col1 타이틀에 필수항목 표시 */
#joinMain div#userInfoArea > div.infoContainer:nth-child(3) div.col1::after {
  color: #f00;
  content: "*";
}

#joinMain h3 {
  position: relative;
}

#joinMain h3 span#mandatory {
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: 0;
}

#joinMain h3 span#mandatory::before {
  color: #f00;
  content: "*";
}

/* 회원가입 동의 내역 start */
#joinMain div#agreementArea {
  width: 800px;
  margin: 0 auto;
}

#agreementArea input[type="checkbox"] {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

#agreementArea div.agreementContainer {
  padding: 40px 30px;
  border: 1px solid #ccc;
  border-top: none;
  font-size: 14px;
}

#agreementArea div.agreementContainer:nth-child(2) {
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

#agreementArea div.agreementContainer label {
  cursor: pointer;
}

#agreementArea div.agreementContainer label[for="agreeAll"] {
  font-weight: bold;
  font-size: 16px;
}

#agreementArea div.agreementContainer div.agreeContent {
  color: #555;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow-y: scroll;
  font-weight: bold;
  font-size: 12px;
}

#agreementArea div.agreementContainer div.checkBox {
  color: #777;
  font-weight: bold;
}

#agreementArea div.agreementContainer div.checkBox input {
  margin-left: 10px;
  margin-right: 3px;
}

#agreementArea > div.agreementContainer:last-child h4 {
  margin-bottom: 10px;
}
/* 회원가입 동의 내역 end */

/* 회원가입 버튼 영역 start */
#joinMain > div:last-child {
  padding: 20px;
  margin-bottom: 100px;
  text-align: center;
}

button#joinCompleteBtn {
  color: #fff;
  width: 200px;
  height: 50px;
  border: 1px solid #000;
  background-color: #000;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

button#joinCompleteBtn:hover {
  color: #000;
  background-color: #fff;
  transition: 1s;
}
/* 회원가입 버튼 영역 end */

/* 주소검색 레이어팝업 strat */
div#addressArea {
  position: relative;
}

div#searchAddress {
  width: 600px;
  border: 1px solid #000;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  display: none;
}

#searchAddress header {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  line-height: 35px;
  background-color: #555;
  position: relative;
}

#searchAddress header span {
  color: #fff;
  font-weight: bold;
}

#searchAddress header button {
  color: #fff;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 2px;
  font-size: 20px;
  transform: scaleX(1.4);
  cursor: pointer;
}

#searchAddress div#addressTab {
  padding: 20px;
  cursor: pointer;
}

#addressTab > div {
  flex: 1;
  height: 50px;
  border: 1px solid #aaa;
  border-bottom: 1px solid #000;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

#addressTab div.selected {
  border: 1px solid #000;
  border-bottom: none;
  background-color: #fff;
}

#searchAddress div#searchHere {
  padding: 0px 20px;
  margin-bottom: 10px;
}

#searchHere > div {
  border: 1px solid #ccc;
}

#searchHere > div:first-child {
  width: 100px;
  border-right: none;
  line-height: 90px;
  text-align: center;
  background-color: #eee;
  font-size: 13px;
}

#searchHere > div:last-child {
  flex: 1;
  padding: 20px 10px;
}

#searchHere > div:last-child input {
  width: 350px;
  padding: 2px 10px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 12px;
}

#searchHere > div:last-child button {
  color: #fff;
  padding: 2px 10px;
  border: none;
  margin-left: 10px;
  background-color: #000;
  cursor: pointer;
}

#searchHere > div:last-child p {
  margin-top: 5px;
  font-size: 12px;
}

#searchAddress div#searchRes {
  margin: 20px;
  height: 350px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
  overflow-y: scroll;
}

#searchRes div#addressFound {
  height: 400px;
}

#searchRes div#addressFound p {
  padding-top: 150px;
  text-align: center;
  font-size: 13px;
}
/* 주소검색 레이어팝업 end */
