@charset "UTF-8";

main#joinMain > p:first-child {
    padding: 50px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#joinMain h3 {
    color: #000;
    width: 800px;
    margin: 0 auto;
    text-align: left;
}

#joinMain div.infoContainer {
    width: 800px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
}

#joinMain div.infoContainer div.infoBox {
    border-bottom: 1px solid #ccc;
    display: flex;
}

.infoBox div.col1 {
    width: 200px;
    padding: 15px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.infoBox div.col2 {
    width: 100%;
    padding: 15px;
}

.infoBox div.col2 input[type=text] {
    height: 35px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 14px
}

.infoBox div.col2 input[type=radio] {
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.infoBox div.col2 label {
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.infoBox div.col2 p {
    color: #777;
    font-size: 13px;
}

.infoBox div.col2 span.noti {
    color: #777;
    margin-left: 10px;
    font-size: 13px;
}

.infoBox div.col2 button#verifyPhoneBtn {
    display: block;
    padding: 2px 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    font-size: 12px;
    cursor: pointer;
}

#verifyPhoneBtn i {
    font-size: 11px;
    margin-right: 5px;
}

.infoBox div.col2 button#searchAddressBtn {
    display: inline-block;
    height: 35px;
    padding: 2px 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    top: -0.5px;
}

.infoBox div.col2 input#address1 {
    width: 130px;
}

.infoBox div.col2 input#address2,
.infoBox div.col2 input#address3 {
    width: 300px;
}

.infoBox div.col2 input.phone {
    width: 80px;
}

.infoBox div.col2 select.phone {
    width: 80px;
    height: 35px;
    outline: none;
    border: 1px solid #ccc;
}