body {
  background-color: #fff;
}

* {
  color: #333;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

li {
  list-style: none;
}

a:hover,
a:active,
a:link,
a:visited {
  color: #333;
}

.flex {
  display: flex;
}
