@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');

body {
  background-color: #fff;
}

* {
  color: #333;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

img {
  vertical-align: middle;
}

li {
  list-style: none;
}

a:hover,
a:active,
a:link,
a:visited {
  color: #333;
}

.flex {
  display: flex;
}
